{% extends "base.html" %}
{% block content %}
<div id="login" class="center">
    <form action="" method="post" class="form">
        {% csrf_token %}
        <ol>
            {{ login_form.as_ul }}
            <li id="send">
                <button type="submit" class="btn">Log In</button>
            </li>
        </ol>
    </form>

    <p class="note">
        Don't have an account? <a href="{% url 'account_register' %}">Sign up Now!</a> or Login with
    </p>
    <p class="note">
        <a href="{% url 'socialauth_begin' 'github' %}"><img src="http://github.com/favicon.ico" height="16" /> Login with Github </a>
        <a href="{% url 'socialauth_begin' 'google-oauth2' %}"><img src="http://google.com/favicon.ico" height="16" /> Login with Google </a>
    </p>

</div>
{% endblock %}
