{% extends "base.html" %}
{% block content %}
<div id="login" class="center">
    <form action="" method="post" class="form">
        {% csrf_token %}
        <ol>
            {{ login_form.as_ul }}
            <li id="send">
                <button type="submit" class="btn">Log In</button>
            </li>
        </ol>
    </form>

    Social Connect Login:
    <a href="{% url socialauth_begin "openid" %}/jianingy.yang@gmail.com">OpenID</a> |
    <a href="{% url socialauth_begin "twitter" %}">twitter</a> |
    <a href="{% url socialauth_begin "facebook" %}">facebook</a> |
    <a href="{% url socialauth_begin "google" %}">google</a>

</div>
{% endblock %}
