{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<h2>Profile: <i class="text-success">{{user.username}}</i></h2>
<div class="row">
    <div class="span3"></div>
    <div class="span4">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form | bootstrap }}
            <div class="control-groups">
                <div class="controls">
                    <button type="submit" class="btn btn-info">Update</button>
                </div>
            </div>
        </form>
    </div>
    <div class="span3"></div>
</div>
{% endblock %}
