{% extends "multipkg/base.html" %}
{% load base_extras %}
{% block multipkg_content %}
<hr />
<div class="hero-unit">
    <div id="result"></div>
    <h2>package details: <i class="text-success">{{ object.name }} {{ object.version }}</i>
    <span class="text-right">
        <a id="refresh" href="javascript:sync();" class="btn"> refresh</a>
    </span>
    </h2>
    <dl class="dl-horizontal">
        <dt>name</dt>
        <dd>&nbsp;
        {{ object.name }}
        </dd>

        <dt>version</dt>
        <dd>&nbsp;
        {{ object.version }}
        </dd>

        <dt>release</dt>
        <dd>&nbsp;
        {{ object.release }}
        </dd>

        <dt>build</dt>
        <dd>&nbsp;
        {{ object.build }}
        </dd>

        <dt>owner</dt>
        <dd>&nbsp;
        {{ object.owner | hide_email}}
        </dd>

        <dt>version control system</dt>
        <dd>&nbsp;
        <b> {{ object.get_vcs_type_display }} </b> <a href="{{ object.vcs_address }}" target="_blank">{{ object.vcs_address }}</a>
        </dd>

        <dt>first created</dt>
        <dd>&nbsp;
        {{ object.created }}
        </dd>

        <dt>last modified</dt>
        <dd>&nbsp;
        {{ object.last_modified }}
        </dd>

    </dl>
    <h3> Summary </h3>
    <div>
        {{ object.summary }}
    </div>
</div>
<div class="row">
    <div class="span6">
        <h3> Latest Comments </h3>
        <div>
            <form action="{% url 'multipkg_comment_create' %}" method="POST">
                {% csrf_token %}
                <div>
                    <textarea name="comment" rows="3" style="width:98%"></textarea>
                </div>
                <button class="btn">add comment</button>
                <input type="hidden" name="package" value="{{object.id}}" />
            </form>
            {% for comment in comments %}
            <div class="comment">
                <div class="header">
                    <h4>Comment by {{comment.author}} <small>{{comment.created}}</small>
                    <span class="pull-right">
                        {% if comment.author == request.user %}
                        <a onclick="return delete_comment();" href="{% url 'multipkg.views.comment_delete_view' pk=comment.id %}" class="btn btn-danger btn-mini">delete</a>
                        {% endif %}
                    </span>
                    </h4>
                </div>
                <div>
                    {{ comment.comment }}
                </div>
            </div>
            {% endfor %}
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url 'multipkg_comment_list' package.id %}">view all comments</a></li>
            </ul>
        </div>
    </div>
    <div class="span5 offset1">
        <h3> Recent Changes </h3>
        <pre class="section">{{ object.recent_changes }}</pre>
    </div>
</div>

<script>
    function delete_comment() {
        var yes = confirm('are you sure to delete this comment?');
        if (yes) return true;
        return false;
    }
    function sync() {
      $('#refresh').html('<span>refreshing</span>').click(function() {return false;});
      $.ajax({url: '{% url 'multipkg.views.sync_view' pk=object.pk %}'}).success(function(data) {
        $('#result').html('<div class="alert alert-success">' + data + '</div>');
        $('#refresh').remove();
      });
    }
</script>
{% endblock %}
