{% extends "multipkg/base.html" %}
{% load django_tables2 %}

{% block multipkg_content %}
<h4>Search Criteria</h4>
<form class="form-inline" method="GET">
    <label class="control-label" for="fd">Search by
    <select name="fd">
        <option value="0">Name,Summary</option>
        <option value="1">Owner</option>
    </select>
    </label>
    <label>Keywords:</label>
    <div class="input-append">
        <input name="wd" type="text" placeholder="search term" />
        <button class="btn">Search</button>
    </div>
</form>
{% render_table table 'multipkg/table.html'%}
{% endblock %}
